*{
    margin: 2mm;
    padding: 5mm;
    background: #E5FCF5;
}


body{
    background: #FEFFFE;
    border-radius: 4px;
}

h1{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 115px;
    line-height: 138px;
    display: flex;
    align-items: center;
    color: #750D37;
}

p1{
    position: absolute;
    width: 240px;
    height: 125px;
    left: 271px;
    top: 420px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #210124;
    opacity: 0.9;
    transform: rotate(90deg);
}
h2{

    position: absolute;
    width: 562px;
    height: 70px;
    left: 583px;
    top: 73px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 67px;
    display: flex;
    align-items: center;
    color: #750D37;

}